bin/
obj/
system-commandline-sentinel-files/

# only include appsettings for a few default environments
appsettings.*.json
!appsettings.Development.json
!appsettings.PostgreSql.json
!appsettings.MsSql.json
!appsettings.MySql.json
!appsettings.Cosmos.json
!appsettings.Test.json
!appsettings.MsSqlIntegrationTest.json
!appsettings.PostgreSqlIntegrationTest.json
!appsettings.MySqlIntegrationTest.json
!appsettings.*.example.json

*.cd

# IDE/editor related directories
.vs/
.idea/
**/.vscode/**/*
**/*.user

# Azure Functions localsettings file
local.settings.json

# include some basic vscode config files
!/Cosmos.GraphQL.Service/Cosmos.GraphQL.Service/.vscode/launch.json
!/Cosmos.GraphQL.Service/Cosmos.GraphQL.Service/.vscode/tasks.json
