# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# review when someone opens a pull request.
*       @Aniruddh25 @aaronburtle @anushakolan @jerrynixon @RubenCerna2079 @souvikghosh04 @sourabh1007 @vadeveka @Alekhya-Polavarapu @rusamant @stuartpa

CODE_OF_CONDUCT.md @jerrynixon @croblesm
CONTRIBUTING.md @jerrynixon @croblesm
LICENSE.txt @jerrynixon @croblesm
README.md @jerrynixon @croblesm
SECURITY.md @jerrynixon @croblesm
support.md @jerrynixon @croblesm
