# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# review when someone opens a pull request.
*       @Aniruddh25 @aaronburtle @mhyon @RubenCerna2079 @souvikghosh04 @sourabh1007 @vadeveka @Alekhya-Polavarapu @rusamant @stuartpa @gmohit21

CODE_OF_CONDUCT.md @mhyon @croblesm
CONTRIBUTING.md @mhyon @croblesm
LICENSE.txt @mhyon @croblesm
README.md @mhyon @croblesm
SECURITY.md @mhyon @croblesm
support.md @mhyon @croblesm
