# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# review when someone opens a pull request.
*       @moderakh @mbhaskar @Aniruddh25 @JelteF @seantleonard @jarupatj @mathos1432
