 <configuration>
   <packageSources>
     <clear />
    <add key="data_api_builder_build_packages" value="https://pkgs.dev.azure.com/sqldab/fcb212b3-b288-4c9e-b55a-5842a268b16d/_packaging/data_api_builder_build_packages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
   </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="data_api_builder_build_packages">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Snapshooter.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>