<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="data_api_builder_build_packages" value="https://pkgs.dev.azure.com/sqldab/fcb212b3-b288-4c9e-b55a-5842a268b16d/_packaging/data_api_builder_build_packages/nuget/v3/index.json" />
    <add key="EngThrive-MCP" value="https://pkgs.dev.azure.com/msazure/One/_packaging/EngThrive-MCP/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="data_api_builder_build_packages">
      <package pattern="*" />
    </packageSource>
    <packageSource key="feed-data_api_builder_build_packages">
      <package pattern="*" />
    </packageSource>
    <packageSource key="EngThrive-MCP">
      <package pattern="Microsoft.ModelContextProtocol.*" />
      <package pattern="ModelContextProtocol" />
      <package pattern="ModelContextProtocol.*" />
      <package pattern="Microsoft.Identity.ServiceEssentials.*" />
      <package pattern="Microsoft.Identity.SettingsProvider" />
      <package pattern="Microsoft.Identity.TokenRevocationFromSettings" />
      <package pattern="Microsoft.Identity.ServerAuthorization" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
