<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.24.0" targetFramework="net472" />
  <package id="Azure.Identity" version="1.6.0" targetFramework="net472" />
  <package id="GreenDonut" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Abstractions" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Execution" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Fetching" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Language" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Language.SyntaxTree" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Language.Utf8" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Language.Visitors" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Subscriptions" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Subscriptions.InMemory" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Types" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Types.CursorPagination" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Types.Mutations" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Types.OffsetPagination" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Utilities" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Utilities.Introspection" version="12.5.0" targetFramework="net472" />
  <package id="HotChocolate.Validation" version="12.5.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DiagnosticAdapter" version="3.1.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="3.1.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.45.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.19.3" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.21.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.21.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.21.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.21.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.21.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.21.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.21.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.5.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>