<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/d81425a2-a8ea-4ea4-9bdd-ca9db5cdfbc6/resourceGroups/rg-weu-api/providers/Microsoft.ContainerRegistry/registries/crweudev01</ResourceId>
    <ResourceName>crweudev01</ResourceName>
    <ResourceGroup>rg-weu-api</ResourceGroup>
    <Subscription>sub-mdm-weu-dev</Subscription>
    <RegistryUrl>crweudev01.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>208fc26c-a21c-4c96-98ee-f10fdaeac508</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>true</PublishTrimmed>
  </PropertyGroup>
</Project>